

{% extends "base.html"%}

{% load static %}
{% block content %}
<section class="team">
  <h2 class="title text-center" style="padding-top:50px;">Constitution</h2>
<div class="row" >
  <div class="col-md-6" style="padding:50px;">
    <h3>Aim</h3>
    <ul style="list-style:upper-roman;">
      <li > To develop English Speaking, Listening, Reading and Writing skills</li>
      <li>To help Hindi Medium students to improve English Language</li>
      <li>To promote a comprehensive understanding of soft skills and English language that lies within and beyond the ken of the syllabus.</li>
      <li>To provide a platform to students for mutual exchange of ideas, knowledge and skills through weekly group activities such as group discussion, debate, quiz, documentary review, and role play.</li>
      <li>To arrange competitions like elocution contest, essay writing, book review giving them an opportunity for self-expression</li>
      <li>To polish the presentation skills of the students.</li>
      <li>To instill in the minds of the students the spirit of working in a team.</li>
      <li> To collaborate with other departments for extra and co-curricular activities related to language and soft skills.</li>
      <li>To develop leadership skills among students by helping their peers.</li>
      <li>To develop interview skills through mock interviews among themselves</li>
      

    </ul>
  </div>
<div class="col-md-6"  style="padding:50px;">
  <h3>Officers/Membership of the society:</h3>
<ul style="list-style:upper-roman;">
<li>The Officers/Members of the society shall consist of the following: President, Vice-President, Secretary, Student Coordinators and Core Members.</li>
<li>The Officers/Members shall be appointed by the faculty coordinators for a period of six months on the basis of interview.</li>
<li>Membership shall be confined to students/alumni of NITJ.</li>
<li>All Officers/Members shall be eligible for re-appointment.</li>
<li>The society may appoint other Officers and members from time to time and under such terms as it considers appropriate</li>
<li>The society members shall be required to actively participate in all society activities</li>



</ul>




</div>
</div>

<div class="row">

<div class="col-md-12" style="padding:50px;">
  <h3 class="title text-center">Meetings</h3>
  <ul  style="list-style:upper-roman;">
  <li class="title text-center"> The Committee shall meet at such times as shall be decided from time to time by the faculty coordinators thereof but no less than two meetings shall be held in any one month.</li>
  </ul>

</div>

</div>
<div class="row" > 
  <div class="col-md-12" style="padding:50px;" >
<h3 class="text-center">Disciplinary Procedure:</h3>

<ul  style="list-style:upper-roman;" >
<li>The Disciplinary Board consists of faculty coordinators shall have the power to hear and determine any complaints against the society officers/member whether made by a Member of the society or any student of NITJ.</li>

<li>Any Member/Officer found to be in breach of these rules or held to have behaved in a manner damaging to the interests of the society shall be admonished, suspended, fined, expelled or be the subject of such other penalty as the society considers fit.</li>
<li  class="text-center"> <b> Amendment of Constitution: </b> </li>
<li>Only the Patron or Faculty Coordinators will have power to alter or amend this Constitution and Rules.</li>
</ul>

  </div>
</div>

</section>
 <section class="team">
    <div class="container-fluid padding-0">
    <!-- Team title -->
    <div class="title text-center">
      <h2>Patron and Faculty Coordinators</h2>
    </div>
{% for i in faculty %}
    <div class="col-md-4 col-lg-3 padding-0">
      <div class="team-member">
        <div class="th-mouse-effect">
          <div class="team-img">
            <img src="{{ i.images.url }} " style="height: 360px; width: 275x; padding: 30px;" alt="Team img" >
            <h3 class="text-center"> {{ i.name }} </h3>
            <h3 class="text-center"> {{ i.designation }} </h3>
          </div>
          <div class="overlay text-center">
            <div class="content">
              <h4>{{ i.name }}</h4>
              <span>{{ i.designation }}</span>
              <p>{{ i.role }}</p>
              
            </div>
            <div class="social-media">
              <!-- <li><a href="#"><i class="tf-ion-social-facebook" aria-hidden="true"></i></a></li> -->
              <!-- <li><a href="#"><i class="tf-ion-social-twitter" aria-hidden="true"></i></a></li> -->
              <li><a href="{{ i.linkedin }}"><i class="tf-ion-social-linkedin-outline" aria-hidden="true"></i></a></li>
              <!-- <li><a href="#"><i class="tf-ion-social-google-outline" aria-hidden="true"></i></a></li> -->
              <!-- <li><a href="#"><i class="tf-ion-social-instagram-outline" aria-hidden="true"></i></a></li> -->
            </div>
          </div>
        </div>
      </div>
    </div>

    {% endfor %}
    
    </div>
  </section>


 <section class="team">
  <div class="container-fluid padding-0">
  <!-- Team title -->
  <div class="title text-center">
    <h2>Student Coordinators</h2>
  </div>
{% for i in coordinator %}
  
  <div class="col-md-4 col-lg-3 padding-0">
    <div class="team-member">
      <div class="th-mouse-effect">
        <div class="team-img">
          <img src="{{ i.images.url }} " style="height: 360px; width: 275x; padding: 30px;" alt="Team img" >
          <h3 class="text-center"> {{ i.name }} </h3>
          <h3 class="text-center"> {{ i.designation }} </h3>

        </div>
        <div class="overlay text-center">
          <div class="content">
            <h4>{{ i.name }}</h4>
            <span>{{ i.designation }}</span>
            <p>{{ i.role }}</p>
            
          </div>
          <div class="social-media">
            <!-- <li><a href="#"><i class="tf-ion-social-facebook" aria-hidden="true"></i></a></li> -->
            <!-- <li><a href="#"><i class="tf-ion-social-twitter" aria-hidden="true"></i></a></li> -->
            <li><a href="{{ i.linkedin }}"><i class="tf-ion-social-linkedin-outline" aria-hidden="true"></i></a></li>
            <!-- <li><a href="#"><i class="tf-ion-social-google-outline" aria-hidden="true"></i></a></li> -->
            <!-- <li><a href="#"><i class="tf-ion-social-instagram-outline" aria-hidden="true"></i></a></li> -->
          </div>
        </div>
      </div>
    </div>
  </div>

  {% endfor %}
  
  </div>
</section>

<section class="team">
  <div class="container-fluid padding-0">
  <!-- Team title -->
  <div class="title text-center">
    <h2>Members</h2>
  </div>
{% for i in member %}
  

  
  <div class="col-md-4 col-lg-3 padding-0">
    <div class="team-member">
      <div class="th-mouse-effect">
        <div class="team-img">
          <img src="{{ i.images.url }} " style="height: 360px; width: 275x; padding: 30px;" alt="Team img" >
          <h3 class="text-center"> {{ i.name }} </h3>
          <h3 class="text-center"> {{ i.designation }} </h3>
        </div>
        <!-- <div class="overlay text-center"> -->
          <div class="content">
            <h4>{{ i.name }}</h4>
            <span>{{ i.designation }}</span>
            <p>{{ i.role }}</p>
            
          </div>
          <div class="social-media">
            <!-- <li><a href="#"><i class="tf-ion-social-facebook" aria-hidden="true"></i></a></li> -->
            <!-- <li><a href="#"><i class="tf-ion-social-twitter" aria-hidden="true"></i></a></li> -->
            <li><a href="{{ i.linkedin }}"><i class="tf-ion-social-linkedin-outline" aria-hidden="true"></i></a></li>
            <!-- <li><a href="#"><i class="tf-ion-social-google-outline" aria-hidden="true"></i></a></li> -->
            <!-- <li><a href="#"><i class="tf-ion-social-instagram-outline" aria-hidden="true"></i></a></li> -->
          </div>
        <!-- </div> -->
      </div>
    </div>
  </div>

  {% endfor %}

  
 

 
  
  <div class="col-md-12">
    <div class="join-team text-center">
      <a class="btn btn-default btn-main" href="#" role="button">Join Our Team</a>
    </div>
  </div>
  </div>
</section>

<section class="team">
  <div class="container-fluid padding-0">
  <!-- Team title -->
  <div class="title text-center">
    <h2>Team Technical</h2>
  </div>
{% for i in dev %}
  

  
  <div class="col-md-4 col-lg-3 padding-0">
    <div class="team-member">
      <div class="th-mouse-effect">
        <div class="team-img">
          <img src="{{ i.images.url }} " style="height: 360px; width: 275x; padding: 30px;" alt="Team img" >
          <h3 class="text-center"> {{ i.name }} </h3>
          <h3 class="text-center"> {{ i.designation }} </h3>
        </div>
        <div class="overlay text-center">
          <div class="content">
            <h4>{{ i.name }}</h4>
            <span>{{ i.designation }}</span>
            <p>{{ i.role }}</p>
            
          </div>
          <div class="social-media">
            <!-- <li><a href="#"><i class="tf-ion-social-facebook" aria-hidden="true"></i></a></li> -->
            <!-- <li><a href="#"><i class="tf-ion-social-twitter" aria-hidden="true"></i></a></li> -->
            <li><a href="{{ i.linkedin }}"><i class="tf-ion-social-linkedin-outline" aria-hidden="true"></i></a></li>
            <!-- <li><a href="#"><i class="tf-ion-social-google-outline" aria-hidden="true"></i></a></li> -->
            <!-- <li><a href="#"><i class="tf-ion-social-instagram-outline" aria-hidden="true"></i></a></li> -->
          </div>
        </div>
      </div>
    </div>
  </div>

  {% endfor %}

  
  <div class="col-md-12">
    <div class="join-team text-center">
      <a class="btn btn-default btn-main" href="#" role="button">Join Our Team</a>
    </div>
  </div>
  </div>
</section>
    
	{% endblock content  %}
    