{% extends "base.html"%}

{% load static %}
{% block content %}


<section class="page-header services-header" data-parallax="scroll" style="background-image:url(https://images.unsplash.com/photo-1475721027785-f74eccf877e2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80); background-size:cover ;">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="title text-center">Our Blogs. </h1>
      </div>
    </div>
  </div>
</section>
  <!-- Blog Sections 
  =========================-->
  <section class="blog">
    <div class="container">
      <div class="row">
        <div class="title text-center">
          <h2>Our Blog</h2>
        </div>
        <div class="col-md-9">
          <!-- Blog Left Sections 
          =========================-->

            <!-- If you use to 1 by 1 section to blog content left or right use class
              blog content left is default but you use blog content right side 
              you mast use class="blog-content-right" class with blog-list-section div
             -->
            <!-- Blog List Only Image
            ========================= -->
            {% for i in context %}
            {% if forloop.counter0|divisibleby:2 %}
              <div class="blog-list-section blog-content-right row">
              
              <div class="col-md-9 blog-content-area">
                <div class="blog-img">
                  <img class="img-responsive"  src="{{i.images.url}}" alt="">      
                </div>
                <br>  <br>
                <div class="blog-content">
                  <a href="{% url 'blog' name=i.name %}"><h4 class="blog-title">{{ i.name }}</h4></a>
                  <div class="meta">
                    <div class="date">
                      <p>{{ i.date }}</p>
                    </div>
                    <div class="author">
                      <p>{{ i.author }}</p>
                    </div>
                  </div>
                  <p class="blog-decisions">{{ i.description }}.</p>
                  <a class="btn btn-default th-btn solid-btn" href="{% url 'blog' name=i.name %}" role="button">Read More <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
                </div>
              </div>
            </div> 
            {% else %}
            <div class="blog-list-section blog-content-left row">
              
              <div class="col-md-9 blog-content-area">
                <div class="blog-img">
                  <img class="img-responsive"  src="{{i.images.url}}" alt="">      
                </div>
                <br>  <br>
                <div class="blog-content">
                  <a href="{% url 'blog' name=i.name %}"><h4 class="blog-title">{{ i.name }}</h4></a>
                  <div class="meta">
                    <div class="date">
                      <p>{{ i.date }}</p>
                    </div>
                    <div class="author">
                      <p>{{ i.author }}</p>
                    </div>
                  </div>
                  <p class="blog-decisions">{{ i.description }}.</p>
                  <a class="btn btn-default th-btn solid-btn" href="{% url 'blog' name=i.name %}" role="button">Read More <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
                </div>
              </div>
            </div> 
            {% endif %}
            {% endfor %}

            

            

           
            
          <!-- See All Post -->
          
        </div>
        <div class="col-md-3">
          <!-- Blog Right Sections 
          =========================-->
  
        </div>

      </div>
    </div>
  </section>

  {% endblock content  %}   