{% extends "base.html"%}

{% load static %}
{% block content %}



<section class="hero-wrap hero-wrap-2" style="background-image: url('images/bg_2.jpg');"
    data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-end">
            <div class="col-md-9 ftco-animate pb-5">
                <p class="breadcrumbs mb-2"><span class="mr-2"><a href="index.html">Home <i
                                class="ion-ios-arrow-forward"></i></a></span> <span class="mr-2"><a
                            href="blog.html">Blog <i class="ion-ios-arrow-forward"></i></a></span> <span>Blog Single <i
                            class="ion-ios-arrow-forward"></i></span></p>
                <h1 class="mb-0 bread">Events</h1>
            </div>
        </div>
    </div>
</section>
{% for i in context %}

<section class="ftco-section ftco-degree-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 ftco-animate">
                <p>
                    <img src="{{ i.images.url }}"" alt="" class=" img-fluid">
                </p>
                <h2 class="mb-3">{{ i.name }}</h2>
                <p>{{ i.description }}.</p>
                <p>{% autoescape off %}

                    {{ i.content | safe }}

                    {% endautoescape %}

                </p>

                <div class="tag-widget post-tag-container mb-5 mt-5">
                    <div class="tagcloud">
                        <a href="#" class="tag-cloud-link">Life</a>
                        <a href="#" class="tag-cloud-link">Sport</a>
                        <a href="#" class="tag-cloud-link">Tech</a>
                        <a href="#" class="tag-cloud-link">Travel</a>
                    </div>
                </div>

                <div class="about-author d-flex p-4 bg-light">
                    <div class="bio mr-5">
                        <img src="{{ i.author_image.url }}" alt="Image placeholder" class="img-fluid mb-4">
                    </div>
                    <div class="desc">
                        <h3>{{ i.author }}</h3>
                        <p>{{ i.author_details }}</p>
                    </div>
                </div>


                {% endfor %}

            </div> <!-- .col-md-8 -->

        </div>

    </div>
    </div>
</section> <!-- .section -->

{% endblock content  %}