{% extends "base.html"%}

{% load static %}
{% block content %}

 <!-- Case Study Sections
  =========================-->
  <header class="hero-area th-fullpage" data-parallax="scroll" style="background-image:url(https://cdn.pixabay.com/photo/2016/04/30/13/12/texture-1362879_1280.jpg);">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 style="background-color:blanchedalmond; 
          color:black;font-size:xx-large;
          font-weight:900 ;
          border-radius: 50px;">Zeal  <br>
           From Sounds in a Crowd to Voices of Tomorrow</h1>
        </div>
      </div>
    </div>
  </header>
  <section class="case-study">
    <div class="text-center">
      <h2 class="title">Trending Blogs</h2>
    </div>
    <!-- Case Study Description
      top section -->
      {% for i in blog %}
      {% if forloop.counter0|divisibleby:2 %}

    <div class="case-study-content">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <!-- inner sub-title -->
            <div class="content">
              <h4 class="inner-title">{{i.name}}</h4>
              <p class="case-description">{{i.description}}</p>
             
              <!-- View More Details -->
              <a class="btn btn-default btn-main" href="{% url 'blog' name=i.name %}" role="button">View More</a>
            </div>
          </div>
          <div class="col-md-6">
            <div class="img-content">
              <img class="img-responsive" src="{{ i.images.url }}" alt="" style="height: 324px; width: 555px;">
            </div>
          </div>
        </div>
      </div>
    </div>
    {% else %}

    <div class="case-study-content">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="img-content">
              <img class="img-responsive" src="{{ i.images.url }}" alt="" style="height: 324px; width: 555px;">
            </div>
          </div>
            <!-- inner sub-title -->
            
          <div class="col-md-6">
            <div class="content">
              <h4 class="inner-title">{{i.name}}</h4>
              <p class="case-description">{{i.description}}</p>
             
              <!-- View More Details -->
              <a class="btn btn-default btn-main" href="{% url 'blog' name=i.name %}" role="button">View More</a>
            </div>
          </div>
          </div>
        </div>
      </div>
    </div>
    {% endif %}

    {% endfor %}
  
  </section>
  
  <section class="case-study">
    <div class="text-center">
      <h2 class="title">Events</h2>
    </div>
    <!-- Case Study Description
      top section -->
      {% for i in event %}
    <div class="case-study-content">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <!-- inner sub-title -->
            <div class="content">
              <h4 class="inner-title">{{i.name}}</h4>
              <p class="case-description">{{i.description}}</p>
             
              <!-- View More Details -->
              <a class="btn btn-default btn-main" href="{% url 'name' name=i.name %}" role="button">View More</a>
            </div>
          </div>
          <div class="col-md-6">
            <div class="img-content">
              <img class="img-responsive" src="{{ i.images.url }}" alt="" style="height: 324px; width: 555px;">
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  
  </section>
  



  <!-- Experimantal Clock Here -->
  <style>  
  body{background:#1D1F20;}
  #ct{height:450px; width:500px;border:1px solid #f1c40f;margin: 100px auto;text-align:center;position:relative;padding:15px;}
  @media (max-width: 900px) {
  /* CSS that should be displayed if width is equal to or less than 800px goes here */
  #ct{height:450px; width:370px;border:1px solid #f1c40f;margin: 100px auto;text-align:center;position:relative;padding:15px;}

}
  span{
    background:#1D1F20;
    color:#f1c40f;
    padding:0 10px;
    font-size:20px;
    position:relative; 
    top:-28px;
  }
  .corner{height:40px;
    width:40px;
    border-radius:50%;
    border:1px solid #fff;
    transform:rotate(-45deg);  
    position:absolute;
    background :#1D1F20;
  }
  
  #left_top{
    top:-16px;
    left:-16px;
    border-color:transparent transparent #f1c40f transparent;
  }
  #right_top{
    top:-16px;
    right:-16px;
    border-color:transparent transparent transparent #f1c40f;
  }
  #left_bottom{
    bottom:-16px;
    left:-16px;
    border-color:transparent #f1c40f transparent transparent ;
  }
  #right_bottom{
    bottom:-16px;
    right:-16px;
    border-color:#f1c40f transparent transparent transparent;
  }
  p{padding-top:13px;font-size:18px}
</style>
<section >
{% for i in sch %}
<div id="ct">
  <div class="corner "id="left_top"></div>
  <div class="corner" id="left_bottom"></div>
  <div class="corner" id="right_top"></div>
  <div class="corner" id="right_bottom"></div>
  <span>{{ i.title }}</span>
  <div>

    <p >{{ i.description }}  <br><br><b>Venue Will Be {{ i.venue }}<br> <br> Join Us On {{ i.deadline }} <br> </p>
    <p> <span id="day"></span> <span id="hour"></span> <span id="minute"></span>  <span id="second"></span> </p>
    </div>
</div>
   
{% endfor %}
<!-- dekho je challda babbeyo -->
 
 

    <script>
      var data = JSON.parse("{{data|escapejs}}");
      data = JSON.stringify(data);
      var yt  = data.substr(1,4);
      var mt =  data.substr(6,2);
      var dy =  data.substr(9,2);
      var hr =  data.substr(12,2);
      var mn =  data.substr(15,2);
      var sc =  data.substr(18,2);
      yt = parseInt(yt);
      mt = parseInt(mt)-1;
      dy = parseInt(dy);
      hr = parseInt(hr);
      mn = parseInt(mn);
      sc = parseInt(sc);
  

      var nw = new Date();
      var deadline = new Date(yt,mt,dy,hr,mn,sc).getTime();

      console.log(nw);
      console.log(deadline);

      var x = setInterval(function () {
        var now = new Date().getTime();
        var t = deadline - now;
    
        // console.log(t);


        var days = Math.floor(t / (1000 * 60 * 60 * 24));
        var hours = Math.floor((t % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
        var minutes = Math.floor((t % (1000 * 60 * 60)) / (1000 * 60));
        var seconds = Math.floor((t % (1000 * 60)) / 1000);
        document.getElementById("day").innerHTML = days+" D";
        document.getElementById("hour").innerHTML = hours+" H";
        document.getElementById("minute").innerHTML = minutes+" M";
        document.getElementById("second").innerHTML = seconds+" S";
        if (t < 0) {
          clearInterval(x);
          document.getElementById("demo").innerHTML = "TIME UP";
          document.getElementById("day").innerHTML = "0";
          document.getElementById("hour").innerHTML = "0";
          document.getElementById("minute").innerHTML = "0";
          document.getElementById("second").innerHTML = "0";
        }
      }, 1000);
    </script>
  </section>


<!-- Clock ENds here -->
  <!-- Clients Sections
=========================-->
<section class="clients" data-parallax="scroll" data-image-src="https://images.unsplash.com/photo-1439792675105-701e6a4ab6f0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1052&q=80">
  <div class="section">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="title text-center">
            <h2>Thought of the Day</h2>
          </div>
          <div class="col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2 padding-0 slider-main">
            <div class="testimonial-slider">
              {% for i in th %}
              <div class="item">
                <!-- Slider item -->
                <!-- <div class="col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2 padding-0"> -->
                <div class="testimonials-area">
                  <!-- <div class="round-shape"></div> -->
                  <p class="testimonials-description">{{ i.thought }}</p>
                  <div class="author">
                    <img src="{{ i.images.url }}" alt="Clients" class="img-responsive">
                    <h3 class="author-name">{{ i.author }}</h3>
                    <span class="designation">{{ i.day }}</span>
                  </div>
                </div>
                <!-- </div> -->
                <!-- End Slider item -->
                {% endfor %}

              </div>
              
              </div>
            </div>
          </div>
        </div>
      </div><!-- /.End row -->
    </div>
  </div>
</section>


  

  

  

  <!-- Team Sections
  =========================-->


<!-- Contact Us Sections
=========================-->
<!-- <section class="contact-call-to-action">
  <div class="shadow-block vh-center">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="block">
            <h2>Get In Touch</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero fugiat cum ad officia, harum, et
              voluptas quia vel voluptatem aliquam, facilis corporis nam tempore ullam doloribus iusto sequi ipsum.
              Fugiat non culpa ad beatae sed dolorem doloribus accusamus</p>
            <a class="btn btn-default btn-main" href="#" role="button">Contact Us</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="map" data-latitude="51.507351" data-longitude="-0.127758"></div>
</section> -->

{% endblock content  %}   