{% extends "base.html"%}

{% load static %}
{% block content %}


<section class="page-header services-header" data-parallax="scroll" style="background-image:url(https://images.unsplash.com/photo-1526724038726-3007ffb8025f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80);background-size:cover ;">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="text-center" style="color: black;">Video Gallery </h1>
      </div>
    </div>
  </div>
</section>
  <!-- Blog Sections 
  =========================-->
  <section class="blog">
    <div class="container">
      <div class="row">
        <div class="title text-center">
          <h2>Video Gallery</h2>
        </div>
        <div class="col-md-9">
          <!-- Blog Left Sections 
          =========================-->

            <!-- If you use to 1 by 1 section to blog content left or right use class
              blog content left is default but you use blog content right side 
              you mast use class="blog-content-right" class with blog-list-section div
             -->
            <!-- Blog List Only Image
            ========================= -->
            
            <div class="blog-list-section blog-content-right row">
              {% for i in videos %}
              <div class="col-md-9 blog-content-area">
                <div class="blog-img">
								<iframe width="375" height="250" src="https://www.youtube.com/embed/{{ i.link }}" frameborder="0" allow="accelerometer;gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                <br>  <br>
                <div class="blog-content">
                  <h4 class="blog-title">{{ i.title }}</h4>
                  <div class="meta">
                    <!-- <div class="date">
                      <p>22<sup>nd</sup>Jan 2016</p>
                    </div> -->
                   
                  </div>
                  <p class="blog-decisions">{{ i.description }}.</p>
                </div>
              </div>
              {% endfor %}
            </div>  
            

           
            
          <!-- See All Post -->
          <div class="col-md-12">
            <div class="see-all-post text-center">
              <a class="btn btn-default th-btn solid-btn" href="#" role="button">See All Posts <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <!-- Blog Right Sections 
          =========================-->
          	<div class="blog-sidbar">
		<div class="search widgets">
			<form class="form-inline">
			  <div class="form-group search-input">
			    <input type="text" class="form-control" placeholder="Search ...">
			  </div>
			  <button type="submit" class="btn btn-default tf-search-btn"><i class="tf-search"></i></button>
			</form>
		</div>
		<div class="categories widgets">
			<div class="list-group text-center">
				<div class="list-group-item active"> Blog Categories </div>
				<a href="#" class="list-group-item">Web Design</a>
				<a href="#" class="list-group-item">User Interface</a>
				<a href="#" class="list-group-item">User Experience</a>
				<a href="#" class="list-group-item">Typography</a>
				<a href="#" class="list-group-item">Color Sense</a>
				<a href="#" class="list-group-item">Future Trend</a>
				<a href="#" class="list-group-item">Modern Design</a>
			</div>
		</div>
		<div class="related-post widgets">
			<div class="list-group">
				<div class="list-group-item active text-center">
				Related Post
				</div>
				<a href="#" class="list-group-item">
					<div class="media">
					  <div class="media-left media-middle"><p class="post-count">1</p></div>
					  <div class="media-body">
					    <p>Typography is  important fact for liusto odio dolore.</p>
					  </div>
					</div>
				</a>
				<a href="#" class="list-group-item">
					<div class="media">
					  <div class="media-left media-middle"><p class="post-count">2</p></div>
					  <div class="media-body">
					    <p>Typography is  important fact for liusto odio dolore.</p>
					  </div>
					</div>
				</a>
				<a href="#" class="list-group-item">
					<div class="media">
					  <div class="media-left media-middle"><p class="post-count">3</p></div>
					  <div class="media-body">
					    <p>Typography is  important fact for liusto odio dolore.</p>
					  </div>
					</div>
				</a>
				<a href="#" class="list-group-item">
					<div class="media">
					  <div class="media-left media-middle"><p class="post-count">4</p></div>
					  <div class="media-body">
					    <p>Typography is  important fact for liusto odio dolore.</p>
					  </div>
					</div>
				</a>
			</div>
		</div>
	</div>
        </div>

      </div>
    </div>
  </section>

  {% endblock content  %}   